In [3]:
from utils import *
import pandas as pd

In [2]:
SeqDist('INFO dfs.DataNode$DataXceiver: <*> block src: dest:','INFO dfs.DataNode$DataXceiver: <*> block src: dest: of size <*>')

(0.8, 0)

In [4]:
data = pd.read_csv('./data/log_item_to_label.csv')

In [5]:
data.head()

   LineId                   BlockId  EventId
0       0  blk_-1608999687919862906        1
1       1  blk_-1608999687919862906        2
2       2  blk_-1608999687919862906        1
3       3  blk_-1608999687919862906        1
4       4  blk_-1608999687919862906        3

In [16]:
data['EventId'] = data['EventId'].replace(1,2)

In [17]:
data.head()

   LineId                   BlockId  EventId
0       0  blk_-1608999687919862906        2
1       1  blk_-1608999687919862906        2
2       2  blk_-1608999687919862906        2
3       3  blk_-1608999687919862906        2
4       4  blk_-1608999687919862906        3

In [18]:
data.to_csv('test.csv')

In [26]:
data.iloc[(data['EventId'] == 2).tolist()][['BlockId','EventId']]

                        BlockId  EventId
0      blk_-1608999687919862906        2
1      blk_-1608999687919862906        2
2      blk_-1608999687919862906        2
3      blk_-1608999687919862906        2
13      blk_7503483334202473044        2
...                         ...      ...
19986  blk_-1909858195938681149        2
19989   blk_7743187147171377263        2
19990    blk_161475555609545016        2
19991  blk_-1741472248387253922        2
19992   blk_8754164970975313154        2

[7103 rows x 2 columns]