In [5]:
from utils.data_utils import *

In [18]:

def remove_duplicate(input,col_remove,col_keep,output):
    data = pd.read_csv(input, engine='c', na_filter=False, memory_map=True)
    data = data.drop_duplicates()
    data.to_csv(output,index=False)
    return data

In [19]:
remove_duplicate('./data/lstm/dataset_official/normal.csv','EventSequence','BlockId','./data/lstm/dataset_official/no_dup_normal.csv')

                                            EventSequence
0       [5, 5, 5, 22, 11, 9, 11, 9, 11, 9, 26, 26, 26,...
1          [5, 5, 22, 5, 11, 9, 11, 9, 11, 9, 26, 26, 26]
2          [5, 22, 5, 5, 11, 9, 11, 9, 11, 9, 26, 26, 26]
4       [5, 22, 5, 5, 11, 9, 11, 9, 11, 9, 26, 26, 26,...
5       [22, 5, 5, 5, 11, 9, 11, 9, 11, 9, 26, 26, 26,...
...                                                   ...
553005  [22, 5, 5, 5, 26, 26, 26, 11, 9, 11, 9, 11, 9,...
553084  [5, 22, 5, 5, 11, 9, 11, 9, 26, 26, 11, 9, 26,...
553168  [22, 5, 5, 5, 9, 11, 9, 26, 26, 26, 11, 11, 9,...
553236  [22, 5, 5, 5, 11, 9, 11, 9, 26, 26, 26, 11, 9,...
553348  [22, 5, 5, 5, 26, 11, 9, 26, 26, 11, 9, 11, 9,...

[14177 rows x 1 columns]

In [20]:
data = remove_duplicate('./data/lstm/dataset_official/abnormal.csv','EventSequence','BlockId','./data/lstm/dataset_official/no_dup_abnormal.csv')

In [21]:
data.head()

                                       EventSequence
0  [5, 5, 22, 5, 11, 9, 11, 9, 11, 9, 26, 26, 26,...
1                                         [5, 22, 5]
2                                            [5, 22]
3  [5, 5, 5, 22, 11, 9, 11, 9, 26, 11, 9, 26, 27,...
4                                         [22, 5, 5]

In [22]:
import pandas as pd

In [23]:
input_dir = './data/lstm/dataset_official/'

In [3]:
def to_dataframe(origin,final):
    fw = open(input_dir+origin,'r')
    fr = open(input_dir+final,'w')
    fr.write('EventSequence\n')
    for line in fw:
        eventSeq = line.strip().split()
        fr.write('"['+', '.join(eventSeq)+']"\n')
    fr.close()

In [4]:
to_dataframe('hdfs_train','train.csv')
to_dataframe('hdfs_test_normal','normal.csv')
to_dataframe('hdfs_test_abnormal','abnormal.csv')

In [24]:
# input_dir = './data/lstm/dataset/'
predicted_input = 'unsupervised_input.csv'
supervised_input_normal = 'supervised_input_normal.csv'
supervised_input_abnormal = 'supervised_input_abnormal.csv'

In [25]:
f = open(input_dir+predicted_input,'w')
fn = open(input_dir+supervised_input_normal,'w')
fa = open(input_dir+supervised_input_abnormal,'w')
f.write('EventSequence\n')
fn.write('EventSequence\n')
fa.write('EventSequence\n')

14

In [26]:
f1 = open(input_dir + '/no_dup_normal.csv', 'r')
for i,line in enumerate(f1):
    if i==0:
        continue
    if i>3000 and i<8000:
        fn.write(line)
    elif i<=3000:
        f.write(line)
f1.close()
f1 = open(input_dir + '/no_dup_abnormal.csv', 'r')
for i,line in enumerate(f1):
    if i==0:
        continue
    if i>2000:
        fa.write(line)
    else:
        f.write(line)
f1.close()

In [27]:
f.close()
fn.close()
fa.close()

In [1]:
from tqdm import tqdm
f = open('D:/毕业设计/loghub/HDFS_1/HDFS.log','r')
count = 0
for i in tqdm(f):
    count+=1
f.close()
print(count)

11175629it [01:22, 135175.63it/s]

11175629